.editorconfig
.gitattributes
.github
.gitignore
.idea
.pre-commit-config.yaml
.readthedocs.yml
venv
node_modules
.data
.dockerignore
npm-debug.log
Dockerfile
DockerfileARM
.git
.gitignore
.data
.vscode
.github
.angular
sample
logs
data
/**/__pycache__
/web/.angular
easy-rsa
logs
server.conf
server.pid
easy-rsa
data
logs
/web/node_modules
target