Flask~=3.0.3
Flask-SocketIO~=5.4.1
Flask-CORS~=5.0.0
Flask-Marshmallow
Flask-PyMongo
Flask-RESTful~=0.3.10
eventlet
psutil~=6.1.0
gunicorn
PyJWT~=2.9.0
bcrypt~=4.2.0
cryptography~=43.0.3
marshmallow~=3.23.0
multidict
schedule~=1.2.2
requests~=2.32.3
geoip2~=4.8.0
acme~=2.11.0
ua-parser~=0.18.0
pytz~=2024.2
pymongo[srv]~=4.10.1
elasticsearch
cuttlepool
setuptools_rust
josepy~=1.14.0