.fi {
    margin-left: 5px;
}


.pass {
    background-color: var(--passed-color) !important;
}

.deny {
    background-color: var(--warn-color) !important;
}

.rejected {
    background-color: var(--rejected-color) !important;
}

.warn {
    background-color: var(--warning-color) !important;
}

.exp-panel-token {
    margin-left: 5px;
}

mat-accordion {
    width: 100%;
}

.search-box {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.text-wrap {
    overflow-wrap: anywhere;
}

.mat-column-score {
    max-width: 90px;
    align-items: center;
    text-align: center;
}