<div id="account-view">
    <form [formGroup]="form">
        <div class="form-section">
            <h2>Account</h2>
            <p class="subtitle">Manage account</p>
            <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="end">
                <mat-tab label="About">
                    <mat-form-field class="full-width">
                        <input id="display_name" matInput placeholder="Display Name" formControlName="name"
                               type="text">
                    </mat-form-field>
                    <mat-form-field class="full-width">
                        <input id="email" matInput placeholder="E-Mail" formControlName="email" type="text">
                    </mat-form-field>
                </mat-tab>
                <mat-tab label="Security">
                    <mat-form-field class="full-width">
                        <input id="password" matInput placeholder="Password" formControlName="password" type="password"
                               autocomplete="current-password">
                    </mat-form-field>
                </mat-tab>
            </mat-tab-group>
            <div class="form-actions">
                <button mat-raised-button id="login" color="primary" (click)="onSubmit()">Save</button>
            </div>
        </div>
    </form>
</div>