<h1 mat-dialog-title>Upstream Target</h1>
<div mat-dialog-content>
    <form [formGroup]="form">
        <div class="row">
            <div class="col">
                <mat-form-field class='full-width'>
                    <mat-label>Network Address</mat-label>
                    <input id="target.host" matInput formControlName="host">
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <mat-form-field class='full-width'>
                    <mat-label>Target Port</mat-label>
                    <input id="target.port" matInput formControlName="port">
                </mat-form-field>
            </div>
            <div class="col">
                <mat-form-field class='full-width'>
                    <mat-label>Distribution Weight</mat-label>
                    <input matInput formControlName="weight">
                </mat-form-field>
            </div>
        </div>
    </form>
</div>
<div mat-dialog-actions align="end">
    <button id="target-save-btn" type="button" (click)="onSubmit()" mat-raised-button color="primary" cdkFocusInitial>
        <mat-icon>save</mat-icon> Save
    </button>
    <button mat-mini-fab type="button" color="primary" (click)="cancel()">
        <mat-icon>keyboard_return</mat-icon>
    </button>
</div>