<div id="sign-layout" class="login-background">
    <mat-card class="login-card">
        <div class="mat-row">
            <div class="mat-col-6" style="text-align: center; display: flex; flex-direction: column; justify-content: center; align-items: center;">
                <img ngSrc="assets/logo-w-white.png"
                     style="height: 86px; width: auto; object-fit: contain;"
                     height="218" width="205" alt="logo"/>
                <h2 style="color: var(--primary-color); font-weight: bold; font-size: 2rem;">Nproxy</h2>
                <small>A user-friendly admin interface for the sophisticated Nginx solution with ModSecurity.</small>
            </div>
            <div class="mat-col-6">
                <form [formGroup]="form" id="login-form">
                    <mat-card-content>
                        <mat-form-field class="full-width" style="margin-top: 64px">
                            <input id="email" matInput placeholder="Email" formControlName="email"
                                   autocomplete="email" type="text">
                        </mat-form-field>
                        <mat-form-field class="full-width">
                            <input id="password" matInput placeholder="Password" formControlName="password" type="password"
                                   autocomplete="current-password">
                        </mat-form-field>
                        <!--
                        <mat-form-field class="full-width">
                            <mat-label>Locale</mat-label>
                            <mat-select formControlName="locale">
                                @for (l of locales; track l) {
                                    <mat-option [value]="l.id">
                                        {{l.name}}
                                    </mat-option>
                                }
                            </mat-select>
                        </mat-form-field>
                        -->
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-raised-button id="login" color="primary" (click)="login()">
                            <mat-icon>login</mat-icon>Login</button>
                    </mat-card-actions>
                </form>
            </div>
        </div>
    </mat-card>
</div>